{% extends "base.html" %} {% block title %}{{_('Faculties')}}{% endblock %} {%
block content %}
<h2>{{_('Faculties')}}</h2>

<div class="row mt-4">
    {% for faculty_id, faculty_name in faculties.items() %}
    <div class="col-md-4 mb-4">
        <div class="card h-100 shadow-sm hover-effect">
            <div class="card-body d-flex flex-column">
                <h5 class="card-title text-primary mb-3">{{ faculty_name }}</h5>
                <a
                    href="{{ url_for('list_faculty_professors', faculty_id=faculty_id) }}"
                    class="btn btn-outline-primary mt-auto"
                >
                    <i class="fas fa-users mr-2"></i>{{_('View Teachers')}}
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<style>
    .hover-effect {
        transition: transform 0.3s ease-in-out;
    }
    .hover-effect:hover {
        transform: translateY(-5px);
    }
</style>
{% endblock %}
