{% extends "base.html" %} {% block title %}{{_('Faculty Professors')}}{%
endblock %} {% block content %}
<div class="d-flex justify-content-between align-items-center">
    <h2>{{ faculty_name }}</h2>
    <a href="/faculty" class="btn btn-secondary">{{_('All Faculties')}}</a>
</div>

<div class="my-4">
    <form action="/teachers/search" method="get" class="form-inline">
        <div class="input-group w-100">
            <input
                type="text"
                id="searchBar"
                name="q"
                class="form-control"
                placeholder="{{_('Search all teachers...')}}"
                value="{{ search_query or '' }}"
            />
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit">
                    {{_('Search')}}
                </button>
            </div>
        </div>
    </form>
</div>

<div class="row mt-4">
    {% for professor in professors %}
    <div class="col-12 mb-4">
        <div class="card flex-row">
            <img
                src="{{ 'https://avesis.yildiz.edu.tr/user/image/'+professor.image_id }}"
                class="card-img-left"
                alt="{{ professor.full_name }}"
                loading="lazy"
                style="
                    width: 150px;
                    height: 150px;
                    object-fit: cover;
                    border-radius: 10px;
                "
            />
            <div class="card-body d-flex flex-column justify-content-center">
                <h5 class="card-title">{{ professor.full_name }}</h5>
                <a
                    href="/teachers/info/{{ professor.id }}"
                    class="btn btn-primary mt-2"
                    style="width: fit-content"
                >
                    {{_('View Details / Rate')}}
                </a>
            </div>
        </div>
    </div>
    {% else %}
    <div class="col-12">
        <p>{{_('No teachers found in this faculty.')}}</p>
    </div>
    {% endfor %}
</div>
{% endblock %}
